* {
    font-family: 'Yusei Magic', sans-serif;
    margin: 4px 0;
}

body {
    background: #111;
}

img {
    height: 200px;
}

main {
    margin: 100px 0;
}

main a {
    text-decoration: none;    
}

.carrito img {
    height: 65px;
}

.carrito button{
    margin-bottom: 60px;
    height: 150px;
    width: 150px;
}

.contenedor {
    margin: 0 100px;
    text-align: center;
    background: rgb(255, 243, 243);
}

.productos button {
    margin-bottom: 60px;
}

footer {
    margin: 60px 0;
}

